<header class="header">
    <div id="scrollToTop"></div>
    <a class="header__link {{#if isAboutPage}}active{{/if}}" href="/#/">
        Главная
    </a>
    <a class="header__link {{#if isTasksPage}}active{{/if}}" href="/#/list">
        Сеансы
    </a>
</header>