<h1 class="page-title">Проверка билетов</h1>
<div class="check_about-header content">
    <a href="/#/list/{{urlLs}}/edit">Изменить</a>
    <h2>Имя Фамилия: <span>{{infoLs.name}}</span>, почта: <span>{{infoLs.mail}}</span> </h2>
    <button class="check_about-header-but">Отправить</button>
</div>
<div class="check_about content"></div>