.tasks {
    margin-bottom: 20px;
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .task {
        background-color: $all-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 180px;
        height: 270px;
        padding: 1%;
        border: 2px solid #000000;
        border-radius: 4px;
        transition: all 0.3s;

        &:nth-child(2n) {
            margin: 1% 1%;
        }

        &:last-child {
            display: none;
        }

        &:hover {
            background: rgb(15, 15, 15);

            & > .task__title {
                color: white;
            }

            .task__btn-done {
                background-color: red;
            }

            p {
                color: rgb(255, 250, 250);
            }
        }

        img {
            max-width: 400px;
            height: 200px;
            border-radius: 5px;
            box-shadow: 1px 1px 3px #cccccc;
        }

        p {
            color: black;
        }

        &__title {
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 1px 0;
            transition: all 0.3s;
        }

        &__buttons {
            margin: 2% 0;
            display: flex;

            .button {
                padding: 4px 12px;
                font-size: 12px;
                margin: 0 2px;
                border-radius: 5px;
            }

            .task__btn-done {
                background-color: red;

                &:hover {
                    color: rgb(8, 8, 8);
                }
            }

            .task__btn-edit {
                background-color: rgb(250, 249, 249);
                border: 1px solid #000;
                color: #000000;

                &:hover {
                    color: rgb(235, 4, 4);
                }
            }
        }
    }
}
